<div class="container" v-cloak>
  <div class="row">
    <div class="col-xs-6">

      <h3>Resources</h3>
      <button class="btn btn-default" @click="addDescribe()">
        <span class="glyphicon glyphicon-plus-sign"></span> Add Resource
      </button>

      <div v-for="desc in ast">
        <resource-panel :desc.sync="desc" :serverspec_info="info"></resource-panel>
      </div>
    </div>


    <div class="col-xs-6">
      <h3>Generated Serverspec</h3>
      <pre v-ace="rubyCode"><code v-text="rubyCode"></code></pre>
    </div>
  </div>
</div>
